<?php
/** @var \App\View\TemplateRenderer $this */
/** @var \App\Model\BattleshipGame $game */
$game = $this->get('game')
?>
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TechHuddle Test</title>
</head>
<body>
<?php if($game): ?>
<pre>
<?= $game->renderField(); ?>
</pre>
<?php if($game->isGameComplete()): ?>
    <div>
        <p>Well done! You completed the game in <?= $game->getFiredShotsCount(); ?> shots</p>
        <a href="/restart">Restart Game</a>
    </div>
<?php else: ?>
    <div>
        <form name="input" action="/" method="post">
            Enter coordinates (row, col), e.g. A5
            <input type="input" size="5"
                   name="coordinates"
                   autocomplete="off" autofocus
            >
            <input type="submit">
        </form>
    </div>
<?php endif; ?>

<?php else: ?>
<div><h1>Cannot game instance</h1></div>
<?php endif; ?>
</body>
</html>